h1, h2, h3 {
    text-align: center;
}
#startButton {
    margin-left: 47%;
}

li {
    margin: 10px 0;
}

.start {
}

.btn-custom {
    background-color: purple;
    border-color: purple;
    color: white;
    margin: 10px, 10px;
    padding: 5px;
    height: 30px
}

.questionList {
    margin-left: 15%;
}